@import "tailwindcss";


html, body {
  /* Oculta cualquier desbordamiento horizontal (la raya blanca) */
  overflow-x: hidden; 
  /* Asegura que el ancho del <body> y <html> sea el 100% disponible */
  width: 100%; 
  /* Asegura que el cálculo del ancho no incluya paddings o borders */
  box-sizing: border-box; 
}
body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.overflow-x-auto::-webkit-scrollbar {
    height: 0;
}

/* Oculta la barra de desplazamiento horizontal solo para Firefox */
.overflow-x-auto {
    scrollbar-width: none;
}
