---
import "aos/dist/aos.css";

interface ItemGaleria {
    id: number;
    titulo: string;
    categoria: string;
    imagenUrl: string; // O usar el asset de Astro: ImageMetadata
}

interface Props {
    items?: ItemGaleria[];
}

const { items = [] } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {
    items.map((item) => (
      <div>
        <img
          src={item.imagenUrl}
          alt={item.titulo}
          class="w-full h-60 object-cover rounded-md mb-4"
        />
      </div>
    ))
  }
</div>



  