---
import "aos/dist/aos.css";
---

<section id="habitaciones"  class="py-20 bg-[#1F3333] text-center px-4">
  <!-- Título -->
  <h2 data-aos="fade-up" class="font-cormorant text-4xl font-bold text-[#ECE4D5] mb-12">
    NUESTRAS HABITACIONES
  </h2>

  <!-- Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">


    <!-- Habitacion 1 -->
    <div data-aos="zoom-in" class="bg-[#ECE4D5] py-5 px-5 rounded-3xl flex flex-col items-center shadow-sm">
      <img src="/habitacion1.jpeg" alt="habitacion1" class="rounded-2xl">
      <p class="font-semibold text-[#0F2D4D] leading-tight">
        <br>Habitacion Woods<br>Amplia, con vista al bosque. 
      </p>
      <a 
      href="/reservar" 
      class="mt-8 inline-block text-base px-12 py-4 rounded-full 
             text-[#ECE4D5] bg-[#1F3333] font-bold
             hover:bg-[#4F382B] hover:text-white transition"
        >
        Reservar
        </a>
    </div>

        <!-- Habitacion 2 -->
    <div data-aos="zoom-in" class="bg-[#ECE4D5] py-5 px-5 rounded-3xl flex flex-col items-center shadow-sm">
      <img src="/habitacion2.jpeg" alt="habitacion1" class="rounded-2xl">
      <p class="font-semibold text-[#0F2D4D] leading-tight">
        <br>Habitacion Green<br>Fresca, con vista a las palmeras. 
      </p>
      <a 
      href="/reservar" 
      class="mt-8 inline-block text-base px-12 py-4 rounded-full 
             text-[#ECE4D5] bg-[#1F3333] font-bold
             hover:bg-[#4F382B] hover:text-white transition"
        >
        Reservar
        </a>
    </div>

        <!-- Habitacion 3 -->
    <div data-aos="zoom-in" class="bg-[#ECE4D5] py-5 px-5 rounded-3xl flex flex-col items-center shadow-sm">
      <img src="/habitacion3.jpeg" alt="habitacion1" class="rounded-2xl">
      <p class="font-semibold text-[#0F2D4D] leading-tight">
        <br>Habitacion Lodge<br>Amplia habitación, con terraza privada. 
      </p>
      <a 
      href="/reservar" 
      class="mt-8 inline-block text-base px-12 py-4 rounded-full 
             text-[#ECE4D5] bg-[#1F3333] font-bold
             hover:bg-[#4F382B] hover:text-white transition"
        >
        Reservar
        </a>
    </div>



  </div>

</section>

