---
// src/layouts/Layout.astro
import "../styles/global.css";
import AOSInit from "../components/AOSInit.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
         <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Loma Verde Lodge</title>
    </head>
     <body>
        <AOSInit client:load />

        <div class="sticky top-0 z-50">
            <Navbar />
        </div>

        <main>
            <slot />
        </main>

             <div>
            <Footer />
        </div>

    </body> 
</html>
